<h1>投稿</h1>
<hr>
<p><%= @comment.name %></p>
<p><%= @comment.content %></p>
<hr>
<p><a href="/comments" class="btn btn-info">トップに戻る</a></p>
<hr>
<p><a href="/comments/<%= @comment.id %>/edit" class="btn btn-success">投稿を編集する</a></p>
<hr>
<p><a href="/comments/<%= @comment.id %>" data-method="delete" class="btn btn-danger">投稿を削除する</a></p>