<h1>コンサル情報</h1>
<hr>
<p>名前：<%= @teacher.family_name %><%= @teacher.first_name %>さん</p>
<p>自己紹介：<%= @teacher.self_introduction %></p>
<hr>
<p><a href="/comments" class="btn btn-info">トップに戻る</a></p>
<p><a href="/teachers" class="btn btn-primary">ユーザー一覧に戻る</a></p>
<p><a href="/teachers/<%= @teacher.id %>/edit" class="btn btn-success">ユーザー情報を編集する</a>
