<h1>投稿を作る</h1>
<hr>
<%= form_for @post do |f| %>
  <p>名前</p>
  <%= f.text_field :name %>
  <p>内容</p>
  <%= f.text_area :content %>
  <hr>
  <%= f.submit "登録する" %>
<% end %>
<a href="/posts">トップに戻る</a>