<h1>投稿</h1>
<p><%= @post.name %></p>
<p><%= @post.content %></p>
<p><a href="/posts">トップに戻る</a></p>
<p><a href="/posts/<%= @post.id %>/edit">投稿を編集する</a></p>
<p><a href="/posts/<%= @post.id %>" data-method="delete">投稿を削除する</a></p>